In [1]:
import pandas as pd

In [66]:
df = pd.read_csv("covid_19_data.csv")

In [67]:
df.columns.tolist()

['SNo',
 'ObservationDate',
 'Province/State',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered']

In [68]:
df.drop(columns='SNo', axis=1,
       inplace=True)

In [69]:
df['Province/State'].fillna(" ",
                           inplace=True)

In [70]:
df.drop(columns=['Recovered',
                'Deaths',
                'ObservationDate'], axis=1,
       inplace=True)

In [71]:
df['Combined'] = df['Country/Region'] + " " + df['Province/State']

In [72]:
df.drop(columns=['Province/State',
                'Country/Region'], axis=1,
       inplace=True)

In [76]:
df['Test'] = df['Combined'] + df['Last Update']

In [83]:
a = df['Test'].value_counts().reset_index()

b = a[a['Test'] == 1]

In [90]:
country_list = b['index'].tolist()

In [92]:
df = df[df['Test'].isin(country_list)]

In [95]:
pivoted = df.pivot(index='Combined', 
        columns='Last Update',
        values='Confirmed')

In [100]:
final_df = pivoted.reset_index()

In [101]:
final_df.head(3)

Last Update,Combined,1/22/2020 17:00,1/23/20 17:00,1/24/20 17:00,1/25/20 17:00,1/26/20 16:00,1/27/20 23:59,1/28/20 23:00,1/29/20 19:30,1/30/20 16:00,...,2020-03-08T21:13:12,2020-03-08T21:13:14,2020-03-08T21:23:03,2020-03-08T21:33:02,2020-03-08T21:43:03,2020-03-08T21:53:03,2020-03-08T21:53:04,2020-03-08T22:03:10,2020-03-08T22:03:11,2020-03-08T23:23:03
0,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
final_df['Country'] = final_df['Combined'].apply(lambda x: x.strip())

In [111]:
final_df[final_df['Country'].isin(["Spain"])]

Last Update,Combined,1/22/2020 17:00,1/23/20 17:00,1/24/20 17:00,1/25/20 17:00,1/26/20 16:00,1/27/20 23:59,1/28/20 23:00,1/29/20 19:30,1/30/20 16:00,...,2020-03-08T21:13:14,2020-03-08T21:23:03,2020-03-08T21:33:02,2020-03-08T21:43:03,2020-03-08T21:53:03,2020-03-08T21:53:04,2020-03-08T22:03:10,2020-03-08T22:03:11,2020-03-08T23:23:03,Country
127,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spain

In [119]:
final_df.iloc[100:120,0:]

Last Update,Combined,1/22/2020 17:00,1/23/20 17:00,1/24/20 17:00,1/25/20 17:00,1/26/20 16:00,1/27/20 23:59,1/28/20 23:00,1/29/20 19:30,1/30/20 16:00,...,2020-03-08T21:13:14,2020-03-08T21:23:03,2020-03-08T21:33:02,2020-03-08T21:43:03,2020-03-08T21:53:03,2020-03-08T21:53:04,2020-03-08T22:03:10,2020-03-08T22:03:11,2020-03-08T23:23:03,Country
100,Nepal,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nepal
101,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands
102,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New Zealand
103,North Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Ireland
104,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Macedonia
105,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norway
106,Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oman
107,Others Diamond Princess cruise ship,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Others Diamond Princess cruise ship
108,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pakistan
109,Palestine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestine
110,Paraguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paraguay
111,Peru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Peru
112,Philippines,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Philippines
113,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Poland
114,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Portugal
115,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Qatar
116,Republic of Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Republic of Ireland
117,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romania
118,Russia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Russia
119,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Marino