In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Cities - Population Density.csv")

In [3]:
df.head()

,Country Name,Population,Area: Sqkm,Area: Sqmi,Density: Sqkm,Density: Sqmi,Countries
0,Manila,"1,780,148",38.55[2],14.88,"46,178","119,600",Philippines
1,Pateros,"63,840",1.76[3],0.68,"36,447","94,400",Philippines
2,Mandaluyong,"386,276[1]",11.06[3],4.27,"34,925","90,460",Philippines
3,Baghdad,"6,719,500[note 1]",204.4,78.9,"32,874","85,140",Iraq
4,Mumbai,"19,478,447[8]",603[9],233,"32,303","83,660",India

In [5]:
df['Population Number'] = df['Population'].apply(lambda x:x.split("["))

In [7]:
df['Population'] = df['Population Number'].apply(lambda x:x[0])

In [11]:
df['Population Sqkm'] = df['Area: Sqkm'].apply(lambda x:x.split("[")) 
df['Area: Sqkm'] = df['Population Sqkm'].apply(lambda x:x[0])

In [14]:
df['Pop Density: Sqkm'] = df['Density: Sqkm'].apply(lambda x:x.split("[")) 
df['Density: Sqkm'] = df['Pop Density: Sqkm'].apply(lambda x:x[0])

In [15]:
df.head()

,Country Name,Population,Area: Sqkm,Area: Sqmi,Density: Sqkm,Density: Sqmi,Countries,Population Number,Population Sqkm,Pop Density: Sqkm
0,Manila,"1,780,148",38.55,14.88,"46,178","119,600",Philippines,"[1,780,148]","[38.55, 2]]","[46,178]"
1,Pateros,"63,840",1.76,0.68,"36,447","94,400",Philippines,"[63,840]","[1.76, 3]]","[36,447]"
2,Mandaluyong,"386,276",11.06,4.27,"34,925","90,460",Philippines,"[386,276, 1]]","[11.06, 3]]","[34,925]"
3,Baghdad,"6,719,500",204.4,78.9,"32,874","85,140",Iraq,"[6,719,500, note 1]]",[204.4],"[32,874]"
4,Mumbai,"19,478,447",603,233,"32,303","83,660",India,"[19,478,447, 8]]","[603, 9]]","[32,303]"

In [16]:
df.drop(columns=['Pop Density: Sqkm',
                'Population Sqkm',
                'Population Number',
                'Area: Sqmi',
                'Density: Sqmi'],
       inplace=True)